PORT=3000
HOST=0.0.0.0

# Database Configuration
DATABASE_URL=postgresql://postgres:To!nk6125@localhost:5433/rpt_monitor_data
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=To!nk6125
DB_NAME=rpt_monitor_data
DB_SSL=false

# JWT Secret (change for production)
JWT_SECRET=To!nk6125

# Tailscale HTTPS Configuration
TAILSCALE_CERT=rpt-section.cinnebar-ph.ts.net.crt
TAILSCALE_KEY=rpt-section.cinnebar-ph.ts.net.key
TAILSCALE_HOST=rpt-section.cinnebar-ph.ts.net

# Semaphore SMS API
SEMAPHORE_API_KEY=4c1082647be5c07e8019fbce60d45d2b
SEMAPHORE_S